<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/first/calculator" target="_self" method="get">
        <input type="text" name="a"><br>
        <input type="text" name="b"><br>
        <input type="radio" name="action" value="multiplication" checked> multiplication<br>
        <input type="radio" name="action" value="addition" checked> addition<br>
        <input type="radio" name="action" value="subtraction" checked> subtraction<br>
        <input type="radio" name="action" value="division" checked> division<br>
        <input type="radio" name="action" value="fake-action" checked> fake-action<br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>